@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
} 

/* Layout */
header, main{
    width: 600px;
    margin: auto;
    background-color: #1F2937;
}

.menu_bg{
    background-image: url(images/bg\ img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}

.menus {
    width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .menu-txt-btn {
    display: block;
} */

figure {
    font-size: 4rem;
}

.menu-text {
    line-height: 2;
    margin-right: 9rem;
}

.fa-circle-plus {
    font-size: 2.7rem;
    color: #16DB99;
}

/* .menu-btn {
    background-color: #16DB99;
    margin-top: -24px;
    padding: 15px;
    border-radius: 50px;
    font-size: 1.3rem;
} */

.line {
    width: 500px;
    height: 1px;
    background-color: #ffffff8a;
    margin: 0 auto;
}

.order {
    width: 500px;
    margin: 0 auto;
    /* height: 300px; */
    /* background-color: #16DB99; */
}

.order-request {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-line {
   margin-top: 20px;
}

.total {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 20px auto;
}

.btn {
   background-color: #16DB99;
   padding: 15px 189px;
   display: block;
   margin: auto;
   margin-top: 3rem;
   color: #fff;
   font-size: 1.1rem;
   border: none;
   border-radius: 5px; 
}

form {
    width: 400px;
    height: 445px;
    background-color: #1F2937;
    color: #fff;
    margin-top: 20px;
    border-radius: 6px;
}

form button {
    width: 334px;
    background-color: #16DB99;
    padding: 13px 20px;
    display: block;
    margin: auto;
    margin-top: 20px;
    color: #fff;
    border: none;
    font-size: 1.2rem;
}

/* typography */
.menu_bg h1,
.menu_bg p {
    line-height: 0.7;
}

.title{
    text-align: center;
    margin-top: 3.5rem;
}

h1,h2,h3,p {
    color: #fff;
}

form h2 {
    text-align: center;
    line-height: 3;
}

input {
    width: 300px;
    /* height: 70px; */
    padding: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
}

.remove-btn {
    font-size: 11px;
    color: #ffffff8a;
}